* {
    margin: 0;
    padding: 0;
}

img.one {
    height: auto;
    width: 100%;
    align-content: center;
    border-radius:30px;

}
body {
    background-color: #E8E8E8;
}
header {
    background-color: white;
    text-align: center;
    border-bottom: 1px solid #000000;
}


.jos {
    border: 1px solid black;
    overflow: hidden;
    background-color: rgba(94,94,94, 0.8);
    position: fixed;
    width: 60%;
    margin-left: 20%;
    bottom: 1%;
}

.jos a {
    float: left;
    display: block;
    color: rgba(242,242,242, 0.8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 60px;
    }

.jos a:hover {
     background: #2DE1FC;
     color: black;
}

.sus {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    border: 1px solid black;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: rgba(242,242,242, 0.8);
}

.sus a {
     float: left;
     display: inline-block;
     color: rgba(242,242,242, 0.8);
     padding: 20px 30px;
     text-decoration: none;
     font-size: 17px;
     transition: all 0.1s linear;
    }


.sus a:hover {
      background: #2DE1FC;
      color: black;
        }

.card {
    margin-right: 30%;
    margin-left: 30%;
    background-color: #097969;
    padding: 20px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 30px;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    align-content: center;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
}
.sus:last-child {
    margin-left: auto;
}
    .navigation a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: white;
    }

.navigation a:hover {
     background: #2DE1FC;
 }



.sus .selected {
    justify-content: flex-end;
}

.push_right{
    margin-left:auto;
    margin-right:1em;
}